<div class="well">
    <div class="media">
    <div class="media-left media-middle">
        <a href="#">
        <img class="media-object champion-header-image" src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{champion.id}}_0.jpg">
        </a>
    </div>
    <div class="media-body">
        <span class="media-heading text-info h3">{{champion.id}}</span> - <em>{{champion.title}}</em>
        <hr>
        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-2">
                    <h5 class="text-info">Primary Role</h5>
                    <span>{{champion.tags[0]}}</span>
                </div>
                <div class="col-xs-2">
                    <h5 class="text-info">Secondary Role</h5>
                    <span *ngIf="!champion.tags[1]">N/A</span>
                    {{champion.tags[1]}}
                </div>
            </div>
        </div>
        <br>
        <div class="col-xs-4">
            Attack <champion-infobar [color]="'danger'" [size]="champion.info.attack"></champion-infobar>
            Defense <champion-infobar [color]="'success'" [size]="champion.info.defense"></champion-infobar>
            Ability <champion-infobar [color]="'primary'" [size]="champion.info.magic"></champion-infobar>
            Difficulty <champion-infobar [color]="'info'" [size]="champion.info.difficulty"></champion-infobar>
        </div>
        <div class="col-xs-8">
            <div class="row">
                <div class="col-xs-6">
                    <div class="text-info">Health:</div> 
                    {{champion.stats.hp}} + ({{champion.stats.hpperlevel}} per level)
                </div>
                <div class="col-xs-6">
                    <div class="text-info">Health Regen:</div> 
                    {{champion.stats.hpregen}} + ({{champion.stats.hpregenperlevel}} per level)
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="text-info">Attack Damage:</div> 
                    {{champion.stats.attackdamage}} + ({{champion.stats.attackdamageperlevel}} per level)
                </div>
                <div class="col-xs-6">
                    <div class="text-info">Armor:</div> 
                    {{champion.stats.armor}} + ({{champion.stats.armorperlevel}} per level)
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="text-info">Attack Speed:</div> 
                     {{attackSpeed}} + ({{champion.stats.attackspeedperlevel}}% per level)
                </div>
                <div class="col-xs-6">
                    <div class="text-info">Magic Resist:</div> 
                    {{champion.stats.spellblock}} + ({{champion.stats.spellblockperlevel}} per level)
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="text-info">Movement:</div> 
                    {{champion.stats.movespeed}}
                </div>
            </div>
        </div>
    </div>
    </div>
</div>