.champion-icon{
    height: 75px;
    width: 75px
}
.champion-header-image{
    height: 350px;
    width: 200px
}

.progress-small{
    width: 25%;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.colorCC3300{
    color: #CC3300;
}
.colorFF00FF{
    color: #FF00FF;
}

.colorFFF673{
    color: #FFF673;
}

.colorFFFFFF{
    color: #FFFFFF;
}

.color99FF99{
    color: #99FF99;
}

.colorFF9900 {
    color: #FF9900;
}

.color44DDFF{
   color: #44DDFF; 
}

.colore60000{
    color: #E60000;
}

.colorF88017{
    color: #F88017;
}

.color9900ff{
    color: #9900ff;
}

.colorFF8C00{
    color: #FF8C00;
}
.colorDDDD77{
    color: #DDDD77;
}

.colorFFFF00{
    color: #FFFF00;
}





